.showcase {
  background: #FFE600;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.showcaseSsg {
  background: #00ffd3 !important;
}

.showcaseCsr {
  background: linear-gradient(180deg, rgba(20, 0, 255, 0.04) 0%, rgba(255, 230, 0, 0.17) 30.73%, rgba(255, 230, 0, 0) 51.04%);
}

.setupPost {
  width: 600px;
  margin: auto;
  padding-top: 100px;
}

.setupPost .group {
  margin-top: 30px;
}

.setupPost button {
  padding: 20px;
  border: none;
  background-color: black;
  color: white;
  min-width: 150px;
  font-weight: bold;
  cursor: pointer;
}